body{
    background-color: chocolate;
}

img{
    height: 300px;
    margin-left: 12%;
    margin-top: 30px;
}

.carousel-item img{
    height: 430px;
    margin-left: 0%;
    margin-top: 20px;
    margin-bottom: 30px;   
}

h2{
    text-align: center;
    color:darkred;
    font-size: 300%;
    font-family: cursive;
}

p{
    margin-left: 50px;
    font-size: 120%;
}

h1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 40px;
    font-size:250%;
}

h2{
    /text-align: center;/
    /margin-bottom: 40px;/
}

h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
