.header{
    border: 1px solid red;
}
body{
    background: #FF5F6D; 
    background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  
    background: linear-gradient(to right, #FFC371, #FF5F6D);
    
}
.nav-container{
    background-color: aquamarine;
    color: blue;
    font-size: medium;
    font-family: monospace;
    border-width: 0 0 2px 0;
    border-color: black;


}
/* footer{
    background-color: darkgrey;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

} */

