.form {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.box {
    margin: 10px;
    height: 30px;
    border-radius: 8px;
    background-color: bisque;
}

#box {
    margin: 10px;
    height: 100px;
    border-radius: 8px;
    background-color: bisque;
}

#button {
    background-color: bisque;
    border-radius: 8px;
    width: 70px;
    margin-left: 80%;
    margin-top: 10px;
}

.header {
    border: 1px solid red;
}

body {
    background: #FF5F6D;
    background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);
    background: linear-gradient(to right, #FFC371, #FF5F6D);
    margin: 20px;
}

.h1 {
    font-family: 'Times New Roman', Times, serif;
    font-stretch: extra-condensed;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-container {
    background-color: aquamarine;
    color: blue;
    font-size: medium;
    font-family: monospace;
    border-width: 0 0 2px 0;
    border-color: black;


}

footer {
    background-color: rgb(156, 248, 157);
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular',
        'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
    list-style-type: none;
}

ul.social-icons {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 10px;
    margin-inline: 20px;
    justify-content: space-between
}
ul li{
    margin-right: 5px;
    margin-left: 15px;
}